In [1]:
data_dict = {
    "dmSearch":
     {"tmpV40":"100000000",
      "tmpV41":"1",
      "tmpV30":"20200209",
      "tmpV31":"20210209",
      "tmpV37":"0",
      "tmpV5":"",
      "tmpV7":"",
      "tmpV3":"",
      "tmpV11":"",
      "tmpV19":"Y",
      "OBJ_NM":"STATFND0100100030BO"}
}

In [3]:
url = "https://freesis.kofia.or.kr/meta/getMetaDataList.do"

In [21]:
import pandas as pd
import requests
import json

In [27]:
headers = {
"content-type":
"application/json; charset=UTF-8",
"host":
"freesis.kofia.or.kr",
"origin":
"https://freesis.kofia.or.kr",
"referer":
"https://freesis.kofia.or.kr/stat/FreeSIS.do?parentDivId=MSIS40100000000000&serviceId=STATFND0100100030",
"sec-ch-ua":
'"Not(A:Brand";v="99", "Google Chrome";v="133", "Chromium";v="133"',
"sec-ch-ua-mobile":
"?0",
"sec-ch-ua-platform":
'"Windows"',
"sec-fetch-dest":
"empty",
"sec-fetch-mode":
"cors",
"sec-fetch-site":
"same-origin",
"user-agent":
"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36",
"x-requested-with":
"XMLHttpRequest"

}

In [23]:
data_dict_json = json.dumps(data_dict)

In [29]:
res = requests.post(url, data = data_dict_json, headers = headers)
res.status_code

200

In [33]:
res.json().keys()

dict_keys(['unit', 'ds1', 'dsmHeader'])

In [43]:
data_list = res.json()['ds1']

In [47]:
df = pd.DataFrame(data_list)

In [49]:
df

,TMPV1,TMPV2,TMPV3,TMPV4,TMPV5,TMPV6,TMPV7,TMPV8,TMPV9,TMPV10,TMPV99
0,20210209,60030,82032,-22003,56594,79479,-22885,3436,2554,882,W
1,20210208,66552,59868,6684,63115,57359,5757,3437,2509,927,W
2,20210205,57483,45623,11860,54028,41527,12501,3455,4096,-641,W
3,20210204,47457,39947,7511,44823,36615,8209,2634,3332,-698,W
4,20210203,66144,31798,34346,62442,25873,36568,3702,5925,-2223,W
...,...,...,...,...,...,...,...,...,...,...,...
246,20200214,60764,39427,21337,56896,36926,19969,3868,2501,1368,W
247,20200213,41250,34327,6923,37730,32881,4850,3520,1446,2074,W
248,20200212,44730,37611,7119,42232,35373,6859,2497,2237,260,W
249,20200211,43802,32181,11620,41670,30726,10944,2132,1456,676,W
250,20200210,53067,39232,13835,49359,37255,12105,3708,1978,1730,W

In [51]:
# 변경할 컬럼명 매핑
rename_dict = {
    'TMPV1': '기준일자',
    'TMPV2': '(전체)설정(입금)',
    'TMPV3': '(전체)해지(출금)',
    'TMPV4': '(전체)증감',
    'TMPV5': '(국내)설정(입금)',
    'TMPV6': '(국내)해지(출금)',
    'TMPV7': '(국내)증감',
    'TMPV8': '(해외)설정(입금)',
    'TMPV9': '(해외)해지(출금)',
    'TMPV10': '(해외)증감'
}

In [55]:
# 컬럼명 변경
df = df.rename(columns=rename_dict)

df

,기준일자,(전체)설정(입금),(전체)해지(출금),(전체)증감,(국내)설정(입금),(국내)해지(출금),(국내)증감,(해외)설정(입금),(해외)해지(출금),(해외)증감,TMPV99
0,20210209,60030,82032,-22003,56594,79479,-22885,3436,2554,882,W
1,20210208,66552,59868,6684,63115,57359,5757,3437,2509,927,W
2,20210205,57483,45623,11860,54028,41527,12501,3455,4096,-641,W
3,20210204,47457,39947,7511,44823,36615,8209,2634,3332,-698,W
4,20210203,66144,31798,34346,62442,25873,36568,3702,5925,-2223,W
...,...,...,...,...,...,...,...,...,...,...,...
246,20200214,60764,39427,21337,56896,36926,19969,3868,2501,1368,W
247,20200213,41250,34327,6923,37730,32881,4850,3520,1446,2074,W
248,20200212,44730,37611,7119,42232,35373,6859,2497,2237,260,W
249,20200211,43802,32181,11620,41670,30726,10944,2132,1456,676,W
250,20200210,53067,39232,13835,49359,37255,12105,3708,1978,1730,W